
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    background-color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
}

.auth-buttons button {
    margin-left: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #f4f4f4;
    z-index: 999;
    transition: right 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.menu-toggle {
    display: none;
}
